<nav class="navbar navbar-light navbar-expand-lg">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
    <a class="navbar-brand" href="/">
      <img src="/src/facturelogo.png" style="width:70px; height:70px" alt="logo" id="navbar_logo">
    </a>
    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item">
        <a href="/add">Ajouter Clients/Prestations</a>
      </li>
      <li class="nav-item">
        <a href="/">Clients</a>
      </li>
      <li class="nav-item">
        <a href="/prestations">Prestations</a>
      </li>
      <!-- <li class="nav-item">
        <a href="/devis">Devis</a>
      </li> -->
      <li class="nav-item">
        <a href="/factures">Factures</a>
      </li>
      <!-- <li class="nav-item">
        <a href="/updateInfos">Entreprise</a>
      </li> -->
      <li class="nav-item">
        <a href="/users/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
